﻿
@{
    ViewBag.Title = "Decrypt";
}

<h2>Decrypt</h2>
<div class="clearfix">&nbsp;</div>

@using (Html.BeginForm())
{
    if (ViewBag.dstring == null || ViewBag.dstring == "")
    {
        <input type=text name="decryptionstring" />
        <input type=submit value="Decrypt" />
    }
    else
    {
        <p> Your Encrypted string is : -  <span>&nbsp;</span> @ViewBag.dstring</p>
    }
}
