﻿@{
    ViewBag.Title = "Encrypt";
}

<h2>Encrypt</h2>
<div class="clearfix">&nbsp;</div>

@using (Html.BeginForm())
{
    if (ViewBag.estring == null || ViewBag.estring == "")
    {
        <input type=text name="encryptionstring" />
        <input type=submit value="Encrypt" />
    }
    else
    {
        <p> Your Encrypted string is : -  <span>&nbsp;</span> @ViewBag.estring</p>
    }
}