﻿
@{
    ViewBag.Title = "Index";
}

<h2>Encryption And Decryption</h2>

<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>

@Html.ActionLink("Encrypt", "Encrypt")
<div class="clearfix">&nbsp;</div>
<div class="clearfix">&nbsp;</div>
@Html.ActionLink("Decrypt", "Decrypt")

